<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="Elections" connectionString="Data Source=localhost;Initial Catalog=erp;Trusted_Connection=true" />
  </connectionStrings>
  <log4net debug="false">
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="RussianElectionResultsScraper.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %indentedmessage%newline" />
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender,log4net">
      <param name="File" value="scraper.log" />
      <param name="AppendToFile" value="false" />
      <encoding value="utf-8" />
      
      <layout type="RussianElectionResultsScraper.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %indentedmessage%newline" />
      </layout>
    </appender>
    <appender name="ErrorLogFileAppender" type="log4net.Appender.FileAppender,log4net">
      <param name="File" value="scraper.errors.log" />
      <param name="AppendToFile" value="false" />
      <encoding value="utf-8" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
      <layout type="RussianElectionResultsScraper.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %indentedmessage%newline" />
      </layout>
    </appender>
    <appender name="NHibernateLogFileAppender" type="log4net.Appender.FileAppender,log4net">
      <param name="File" value="scraper.nhibernate.log" />
      <param name="AppendToFile" value="false" />
      <encoding value="utf-8" />
      <layout type="RussianElectionResultsScraper.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %indentedmessage%newline" />
      </layout>
    </appender>

    <root>
      <priority value="ALL" />
      <appender-ref ref="ErrorLogFileAppender" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <logger name="NHibernate" additivity="false">
      <level value="WARN" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="NHibernateLogFileAppender" type="log4net.Appender.FileAppender,log4net"/>
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
