<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="aaaaaaaaaaaaa" connectionString="Data Source=localhost;Initial Catalog=election_results_parser;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ModelContainer" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=election_results_parser;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <log4net debug="false">
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="RussianElectionResultsScraper.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %indentedmessage%newline" />
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender,log4net">
      <param name="File" value="c:\\temp\\log.txt" />
      <param name="AppendToFile" value="false" />
      <encoding value="utf-8" />
      
      <layout type="RussianElectionResultsScraper.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %indentedmessage%newline" />
      </layout>
    </appender>
    <appender name="ErrorLogFileAppender" type="log4net.Appender.FileAppender,log4net">
      <param name="File" value="c:\\temp\\error-log.txt" />
      <param name="AppendToFile" value="false" />
      <encoding value="utf-8" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
      <layout type="RussianElectionResultsScraper.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %indentedmessage%newline" />
      </layout>
    </appender>
    <root>
      <priority value="ALL" />
      <appender-ref ref="ErrorLogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <logger name="NHibernate">
      <level value="WARN" />
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
