<configuration>
    <id>Duma</id>
    <name>Duma</name>
    <counters>
        <counter counter="19" name="Политическая партия СПРАВЕДЛИВАЯ РОССИЯ" shortname="СР"/>
        <counter counter="20" name="Политическая партия &quot;Либерально-демократическая партия России&quot;" shortname="LDPR"/>
        <counter counter="21" name="Политическая партия &quot;ПАТРИОТЫ РОССИИ&quot;" shortname="Patriot"/>
        <counter counter="22" name="Политическая партия &quot;Коммунистическая партия Российской Федерации&quot;" shortname="CPRF"/>
        <counter counter="23" name="Политическая партия &quot;Российская объединенная демократическая партия &quot;ЯБЛОКО&quot;" shortname="YABLOKO"/>
        <counter counter="24" name="Всероссийская политическая партия &quot;ЕДИНАЯ РОССИЯ&quot;" shortname="EDRO"/>
        <counter counter="25" name="Всероссийская политическая партия &quot;ПРАВОЕ ДЕЛО&quot;"/>
    </counters>
</configuration>