<configuration>
    <id>Pres2012</id>
    <name>Выборы Президента Российской Федерации 2012</name>
    <counters>
        <counter counter="19" name="Жириновский Владимир Вольфович" shortname="Жириновский" candidate="true"/>
        <counter counter="19" name="Зюганов Геннадий Андреевич" shortname="Зюганов" candidate="true"/>
        <counter counter="20" name="Миронов Сергей Михайлович" shortname="Миронов" candidate="true"/>
        <counter counter="21" name="Прохоров Михаил Дмитриевич" shortname="Прохоров" candidate="true"/>
        <counter counter="22" name="Путин Владимир Владимирович" shortname="Путин" candidate="true"/>
    </counters>
</configuration>