@model dynamic

@{
    Layout = MVC.Shared.Views._Layout;
    ViewBag.Title = "Page Not Found";
    
}

<div>
    <img style="display: block;margin: auto" src="@Links.Content.not_found_png"/>

</div>
