<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DataCenterMapping" type="DacIEServiceCli.DataCenterMappingSection, DacIESvcCli"/>
  </configSections>
  <system.serviceModel>
    <client>
      <endpoint address="http://dacdc.cloudapp.net/DACWebService.svc"
      binding="wsHttpBinding"
      bindingConfiguration="SecureConfig"
      contract="IEService.WebServices"
      name="IEServiceEndpoint"/>
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="SecureConfig">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Certificate" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <DataCenterMapping>
    <DataCenters>
      <add dns="CH1-1" name="North Central US" endpoint="https://ch1prod-dacsvc.azure.com/DACWebService.svc"/>
      <add dns="SN1-1" name="South Central US" endpoint="https://sn1prod-dacsvc.azure.com/DACWebService.svc"/>
      <add dns="DB3-1" name="North Europe" endpoint="https://db3prod-dacsvc.azure.com/DACWebService.svc"/>
      <add dns="AM2-1" name="West Europe" endpoint="https://am1prod-dacsvc.azure.com/DACWebService.svc"/>
      <add dns="HKN1-1" name="East Asia" endpoint="https://hkgprod-dacsvc.azure.com/DACWebService.svc"/>
      <add dns="SGP1-1" name="Southeast Asia" endpoint="https://sg1prod-dacsvc.azure.com/DACWebService.svc"/>
      <add dns="DATA.INT.MSCDS.COM" name="Northwest US" endpoint="http://dacdc.cloudapp.net/DACWebService.svc"/>
    </DataCenters>
  </DataCenterMapping>
</configuration>