#current
    {
    font-weight: bold;
    }

#container {
    margin: auto;
    width:100%;
    min-width: 990px; 
    }       


#container #voting-place-breadcrumbs {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: -1px;
    text-shadow: 1px 1px 0 white;            
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    }

#container #voting-place-breadcrumbs a:hover, 
#container #voting-place-breadcrumbs a:active,
#container #voting-place-breadcrumbs a:link,
#container #voting-place-breadcrumbs a:visited {
    color:#4183C4;
    text-decoration: none;
    }

#container #voting-place-breadcrumbs a.last {
    font-weight: bold;
}
            
#container #columns {
    width: 100%;
}            

#container #left-column .results-decorator {
    background-color: #EEE;
    padding:3px;
}
        
#container #columns #right-column h3
    {
    font-weight: bold;
    }

div#regions {
    width: 100%;
}

                    
table.results {
}

table.results th.candidate-header div.candidate-header-container {
            
}

table.results th.candidate-header div.candidate-header-name {
            
}

table.results th.candidate-header div.candidate-header-line 
{
    margin-top: 5px;
    height:3px;
}

table.results th#line-number {
    width: 50px;
}

table.results th#value {
    width: 100px;
}

table.results td.value {
    text-align: right;
}

div.tabs {
    border-bottom: 1px solid #DDD;
    margin-bottom: 10px;
    }        
    
div.tabs li {
    padding: 8px 12px;
    vertical-align: top;
    display: inline-block;
    margin-bottom: 0px;
} 

div.tabs li .error-indicator {
    top: 0;
    margin-left: 5px;
    margin-top: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 0;
    font-size: 10px;
} 

div.tabs li.selected {
    border-left: 1px solid #DDD;
    border-top: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: white;
    margin-bottom: -1px;
    font-weight: bold;
}
    
div.tabs li.first {
    margin-left:50px;
    cursor: pointer;
    color: #333; 
}

table.results td 
    {
    background: #F8F8F8;
    border-bottom: 1px solid #EEE;
    padding: 7px 3px;
    color: #484848;
    vertical-align: middle;
    }

table.results th {
    text-align: left;
    font-weight: bold;  
    padding: 6px 3px;
    color: #555;
    text-shadow: 0 1px 0 white;
    border-bottom: 1px solid #D8D8D8;
    background-color: #FAFAFA;
    background-image: -webkit-linear-gradient(#FAFAFA,#EAEAEA);
}            
        
table.results th#place-header {
    width:20%;
}

table.results th#attendance-graph-header {
    width:62px;
}
        
table.results tr.main {
    height: 70px;
}

table.results tr.main td.place {
    padding-left: 10px;
    white-space: normal;
}

table.results tr.child td.place {
    padding-left: 20px;
    white-space: normal;
}

table.results tr.main td.graph,
table.results tr.child td.graph {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    }
        
tr 
    {
    vertical-align: top;
    }
            
tr.alt td
    {
    /*background-color: #dbdada;*/
    }
            
tr.over td
    {
    background-color: #fec072 !important;
    cursor: pointer;
    }
            
.main td 
    {
    font-size: 16px;
    font-weight: bold;
    }
            
.tooltip
    {
    display:none;
    background:transparent url(/Content/themes/base/images/tooltip/black_arrow.png);
    font-size:12px;
    height:70px;
    width:160px;
    padding:25px;
    color:#fff;	
    }            
            
h3 {
    text-align: center;
}

div.legend {
    padding:20px;
    display:none;
    background-color: white;
    -webkit-box-shadow: 0px 0px 2px 2px #ccc
    }        
            
div.legend table {
    width: 100%;                                        
    }

div.legend table tr {
    vertical-align: middle;
}

div.legend table td 
    {
    padding-top:3px;
    padding-bottom:3px;
    padding-right:7px;
    }

.error-indicator 
{
    position:relative;
top:-10px;
display:inline-block;    
color: white !important;
text-align: center;
min-width: 10px;
padding-top:2px;
padding-bottom:2px;
padding-left:3px;
padding-right:3px;
background-color: rgb( 180, 0, 0 );
font-size: 12px;
font-weight: bold;
margin-right: 5px;
margin-bottom: 5px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;    
}                    
