body, td
    {
    font-family: helvetica,arial,freesans,clean,sans-serif;
    font-size: 13px;
    }


#content {
    margin: 20px;
}
#header {
    color: black;
    font-family: helvetica, arial;
    font-size: 20px;
    padding: 10px;
}

#elections {
    margin-top: 50px;
}
#elections .election 
{
    border: 1px solid #B3D0F0;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    padding-left: 10px;
}

#elections .election a {
    vertical-align: middle;
}

#election_name {
    font-size: 15px;
    text-align: center;
}


.results {
    table-layout: fixed; 
    width: 100%; 
    white-space: nowrap; 
    border: 1px solid silver;
    background-color:#F8F8F8;
    width: 100%;
}

.results td, .results th {
    overflow: hidden; 
    text-overflow: ellipsis;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
