body, td
    {
    font-family: helvetica,arial,freesans,clean,sans-serif;
    font-size: 13px;
    }

a:hover,
a:visited,
a:link,
a:active {
    color: #4183C4;
    }

#content {
    margin: 20px;
}
#header {
    color: black;
    font-family: helvetica, arial;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 5px;
}

#footer {
    margin-top: 50px;
    padding:10px;
    border-top: 1px solid #D8D8D8; 
    background-color: #F8F8F8;
    color:gray;
    text-shadow: 0 1px 0 white;    
}

#footer #footer-inner 
{
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    width: 1056px;
}

#footer #footer-inner .footer-column {
    float: left;
    width: 250px;
    margin-left:10px;  
    }

#footer #footer-inner .footer-column h4 {
    font-weight: bold;
    color: #636363;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #E1E1E1;
}

#footer #footer-inner .footer-column li {
    margin-bottom: 7px;
}


#elections {
    margin-top: 50px;
}
#elections .election 
{
    border: 1px solid #B3D0F0;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    padding-left: 10px;
}

#elections .election a {
    vertical-align: middle;
}

#election_name {
    font-size: 15px;
    text-align: center;
}


.results {
    table-layout: fixed; 
    width: 100%; 
    white-space: nowrap; 
    border: 1px solid silver;
    background-color:#F8F8F8;
    width: 100%;
}

.results td, .results th {
    overflow: hidden; 
    text-overflow: ellipsis;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
