@{
    Layout = null;
}

@model RussianElectionResultScraper.Web.FooterModel
           
<div id="footer">
    <div id="footer-inner">
        <div id="madeby" class="footer-column">
            <h4>Сделано</h4>
            <p>Мишей Бергалом <a href="mailto:misha.bergal@gmail.com">misha.bergal@gmail.com</a> отчасти от нечего делать в 2012 году.
            </p>
            
            <p style="margin-top: 10px">
                Этот проект не имеет никакого отношения к замечательному проекту <a href="http:ruelect.com">ruelect.com</a> - "Восстанавливаем реальную картину по всей стране, один регион за другим"
            </p>
        </div>

        <ul id="version" class="footer-column">
            <h4>Версия</h4>
            <li>Веб сайт: @Model.WebSiteVersion</li>
            <li>База данных: @Model.DatabaseVersion</li>
            
            <li>Саму базу данных (в формате <a href="http://msdn.microsoft.com/en-us/library/ee210580.aspx">.dacpac Data-Tier Application</a>) можно скачать <a href="http://mbergal.blob.core.windows.net/backups/elections.dacpac">здесь</a>.</li>
            </li>
        </ul>

        <ul id="sources" class="footer-column">
            <h4>Исходники</h4>
            
            <li><a href="http://github.com/mbergal/RussianElectionResultsScraper" target="_blank">На Githib</a></li>
        </ul>

        <div id="platform" class="footer-column">
            <h4>Платформа</h4>
            <table>
                <tr>
                    <td>.NET</td>
                    <td>потому что мне нужно было "sharpen my skills"</td>
                </tr>
                <tr>
                    <td><a href="windowsazure.com" target="_blank">Windows Azure</a></td>
                    <td>потому что у них бесплатный хостинг (на 3 месяца)</td>
                </tr>
            </table>
        </div>


        <div style="clear: both"></div>
    </div>
</div>
