@{
    Layout = null;
}
<p>
    Made by Misha Bergal: misha.bergal@gmail.com
    Source code <a href="http://github.com/mbergal/RussianElectionResultsScraper" target="_blank">http://github.com/mbergal/RussianElectionResultsScraper</a>
</p>
