@{
    ViewBag.Title = "Статистика федеральных выборов Российской Федерации";
}
@using System.Drawing
@using Microsoft.Web.Mvc
@using RussianElectionResultScraper.Web
@using MvcApplication2.Models


@model IndexModel
    <style>
        body, td
            {
            font-family: helvetica,arial,freesans,clean,sans-serif;
            font-size: 13px;
            }
            
        #current
            {
            font-weight: bold;
            }
        
        #graphs
            {
            float: right;
            }
            
        td 
            {
            padding: 3px;
            }
            
        tr 
            {
            vertical-align: top;
            }
            
        tr.alt td
            {
            background-color: #dbdada;
            }
        tr.over td
            {
            background-color: #fec072 !important;
            cursor: pointer;
            }
        .main td 
            {
            font-size: 16px;
            font-weight: bold;
            }
        .tooltip 
            {
            display:none;
            background:transparent url(/Content/themes/base/images/tooltip/black_arrow.png);
            font-size:12px;
            height:70px;
            width:160px;
            padding:25px;
            color:#fff;	
            }            
    </style>

<div>
                Статистика федеральных выборов Российской Федерации

    <table id="elections">
        @foreach (var election in Model.Elections)
            {
            <tr>
                <td>
                    <a href="/election/@election.Id/place/@election.Root.Id">@election.Name</a>
                </td>
                <td>
                    <img style="border:1px solid silver" src="/graph/polling-stations-by-attendance/@(election.Root.Id).jpg?height=80&width=100"/>
                </td>
                <td>
                    <img style="border:1px solid silver" src="/graph/polling-station-results/@(election.Root.Id).jpg?height=80&width=100"/>
                </td>
            </tr>
            }
    </table>
</div>

