<configuration>
    <id>Duma2011</id>
    <name>Выборы депутатов Государственной Думы Федерального Собрания Российской Федерации шестого созыва</name>
    <date>2011-12-04</date>
    <counters>
        <counter counter="19" name="Политическая партия СПРАВЕДЛИВАЯ РОССИЯ" shortname="СР" color="#00A396" candidate="true"/>
        <counter counter="20" name="Политическая партия &quot;Либерально-демократическая партия России&quot;" shortname="ЛДПР" color="#CCB30D" candidate="true"/>
        <counter counter="21" name="Политическая партия &quot;ПАТРИОТЫ РОССИИ&quot;" shortname="ПАТРИОТЫ" color="#7A3D00" candidate="true"/>
        <counter counter="22" name="Политическая партия &quot;Коммунистическая партия Российской Федерации&quot;" shortname="КПРФ" color="#FF0700" candidate="true"/>
        <counter counter="23" name="Политическая партия &quot;Российская объединенная демократическая партия &quot;ЯБЛОКО&quot;" shortname="Яблоко" color="#00A619" candidate="true"/>
        <counter counter="24" name="Всероссийская политическая партия &quot;ЕДИНАЯ РОССИЯ&quot;" shortname="ЕдРо" color="#004F8F" candidate="true"/>
        <counter counter="25" name="Всероссийская политическая партия &quot;ПРАВОЕ ДЕЛО&quot;" shortname="ПрДело" color="#DBC712" candidate="true"/>
    </counters>
</configuration>