<configuration>
    <id>Pres2008</id>
    <name>Выборы Президента Российской Федерации 2008</name>
    <counters>
        <counter counter="18" name="Богданов Андрей Владимирович" shortname="Богданов" candidate="true"/>
        <counter counter="19" name="Жириновский Владимир Вольфович" shortname="Жириновский" candidate="true"/>
        <counter counter="20" name="Зюганов Геннадий Андреевич" shortname="Зюганов" candidate="true"/>
        <counter counter="21" name="Медведев Дмитрий Анатольевич" shortname="Медведев" candidate="true"/>
    </counters>
</configuration>