<configuration>
    <id>Pres2012</id>
    <name>Выборы Президента Российской Федерации 2012</name>
    <date>2012-04-03</date>
    <counters>
        <counter counter="19" name="Жириновский Владимир Вольфович" shortname="Жириновский" color="#CCB30D" candidate="true"/>
        <counter counter="20" name="Зюганов Геннадий Андреевич" shortname="Зюганов" color="#FF0700" candidate="true"/>
        <counter counter="21" name="Миронов Сергей Михайлович" shortname="Миронов" color="#00A396" candidate="true"/>
        <counter counter="22" name="Прохоров Михаил Дмитриевич" shortname="Прохоров" color="#00A619" candidate="true"/>
        <counter counter="23" name="Путин Владимир Владимирович" shortname="Путин" color="#004F8F" candidate="true"/>
    </counters>
</configuration>