<configuration>
    <id>Pres2008</id>
    <name>Выборы Президента Российской Федерации 2008</name>
    <rootUrl>http://www.vybory.izbirkom.ru/region/region/izbirkom?action=show&amp;root=1&amp;tvd=100100022249920&amp;vrn=100100022176412&amp;region=0&amp;global=1&amp;sub_region=0&amp;prver=0&amp;pronetvd=null&amp;vibid=100100022249920&amp;type=226</rootUrl>
    <date>2008-03-02</date>
    <counters>
        <counter counter="18" name="Богданов Андрей Владимирович" shortname="Богданов" color="#05A300" candidate="true"/>
        <counter counter="19" name="Жириновский Владимир Вольфович" shortname="Жириновский" color="#CCB30D" candidate="true"/>
        <counter counter="20" name="Зюганов Геннадий Андреевич" shortname="Зюганов" color="#FF0700" candidate="true"/>
        <counter counter="21" name="Медведев Дмитрий Анатольевич" shortname="Медведев" color="#004F8F" candidate="true"/>
    </counters>
</configuration>