<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.1.3.42154" />
  <package id="Castle.Core" version="2.5.2" />
  <package id="Castle.Windsor" version="2.5.4" />
  <package id="Dapper" version="1.8" />
  <package id="EntityFramework" version="4.1.10331.0" />
  <package id="Iesi.Collections" version="3.2.0.4000" />
  <package id="ImageResizer" version="3.1.4" />
  <package id="ImageResizer.Mvc" version="3.1.4" />
  <package id="ImageResizer.MvcWebConfig" version="3.1.4" />
  <package id="ImageResizer.WebConfig" version="3.1.4" />
  <package id="Jose.MVC.Windsor" version="1.0.0" />
  <package id="Jose.SessionPerRequest.NHibernate" version="1.0.2" />
  <package id="jQuery" version="1.5.1" />
  <package id="jQuery.UI.Combined" version="1.8.11" />
  <package id="jQuery.Validation" version="1.8.0" />
  <package id="jQuery.vsdoc" version="1.5.1" />
  <package id="log4net" version="1.2.11" />
  <package id="Massive" version="1.1" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Modernizr" version="1.7" />
  <package id="NHibernate" version="3.0.0.4000" />
  <package id="routedebugger" version="2.1.1" />
  <package id="SqlServerCompact" version="4.0.8482.1" />
  <package id="WebActivator" version="1.4.4" />
</packages>